@import "banner.css";
@import "buttons.css";
@import "cards.css";
@import "footer.css";
@import "video.css"
@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tilt+Warp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@500&display=swap');


body{
	margin: 0;
	background-color: black;
}

a {
	text-decoration: none;
}

h1{ color: white;
	text-align: center;
	font-size: 6rem;
	font-family: Overpass,sans-serif;
	padding: 20px;
	margin: 15px;
	z-index: 1;
	opacity: 0.7;
}


p,a {
	font-family: 'Sora', sans-serif;
}

h1{font-family: 'Sora', sans-serif;
	color: white;
}
h2{
	font-family: 'Sora',sans-serif; color: white;
}
h3{font-family: 'Sora', sans-serif; color: black;
}
h4{font-family: 'Sora',sans-serif;color: black;}

h5{font-family: 'Sora', sans-serif; color: white;}

.container {
	width: 90%;
	margin: 24px auto;

}

.list-inline li{
	display: inline;

}

.list-inline a{
	color: rgba(0, 0, 0, 0.5);
	font-size: 48px;
}

.list-inline a:hover{
	color: rgba(0, 0, 0, 1.0);
	font-size: 56px;
	transition: 0.5s;
}
.list-inline{
	padding: 0;
}
/*// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap*/

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { ... }

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { ... }

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { ... }

/*// X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { ... }

/*// XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) { ... }

